/* About Section Styling */
section {
  /* width: 90%; */
  /* max-width: 1200px; */
  margin: 30px auto;
  padding: 24px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* for abouts and intitatives */
.card {
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
}

section p {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  section {
    /* width: 95%;
    padding: 15px; */
  }

  section h2 {
    font-size: 1.5rem;
  }

  section p {
    font-size: 0.95rem;
  }
}
